
.components a {
    cursor: pointer;
    display: inline-block;
    margin: 0 7px 7px 0;
    background-color: #fff;
    color: #555;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 1px 14px;
}

.components a:hover {
    text-decoration: none;
    background-color: #f2f2f2;
}

.alder-modal {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow: auto;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;

    padding: 30px 15px;

    display: flex;

    opacity: 0;
    visibility: hidden;

    -webkit-transition: opacity .7s;
    -moz-transition: opacity .7s;
    -ms-transition: opacity .7s;
    -o-transition: opacity .7s;
    transition: opacity .7s;

    background-color: rgba(0, 0, 0, .9);
}

.alder-modal-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    font-size: 20px;
    height: 30px;
    text-align: center;
}

.alder-modal.visible {
    opacity: 1;
    visibility: visible;
}

.alder-modal-content {
    position: relative;
    max-width: 550px;
    width: 550px;
    margin: auto;

    background-color: #fff;
    color: #000;

    padding: 30px;
}



