
#profile-avatar {
    width: 45px;
    height: 45px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow: hidden;
    border-radius: 50%;
}

.bg-login-image {
    background-image: url(https://nimoz.pl/css/images/logo.svg) !important;
    background-position: 50% 50%;
    background-size: 60%;
    background-repeat: no-repeat;
}

.select2 {
    width: 100% !important;
}

input::placeholder, select::placeholder, textarea::placeholder {
    color: #ddd !important;
}

.delete-icon {
    font-size: 28px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-left: 8px;
    cursor: pointer;
    z-index: 20;
}

.circle-icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ddd;
    cursor: pointer;
}

.circle-icon:hover {
    background: #ddd;
}

.nav-item.has-dropdown .toggle-collapse {
    padding: 22px 10px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    top: 0;

    position: absolute;
    right: 15px;
    background: none !important;
}

.nav-item.has-dropdown .toggle-collapse.collapsed {
    opacity: .3;
}

.nav-item.has-dropdown .toggle-collapse,
.nav-item.has-dropdown .toggle-collapse.collapsed:hover {
    opacity: 1;
}

.nav-item.has-dropdown .toggle-collapse.collapsed::after {
    content: '';
    transform: rotate(0deg);
}

.nav-item.has-dropdown .toggle-collapse:before {
}

.card-header[data-toggle] {
    position: relative;
}

.card-header.collapsed[data-toggle]:before {
    transform: rotate(0deg);
}

.card-header[data-toggle]:before {
    content: 'keyboard_arrow_down';
    display: block;
    float: right;
    top: 4px;
    position: relative;

    transform: rotate(180deg);
    transition: all .15s ease 0s;

    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.nav-item.has-dropdown .toggle-collapse:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed #fff;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    transform: rotate(180deg);
}

.nav-item.has-dropdown {
    position: relative;
}

.nav-item.has-dropdown .toggle-collapse {

}

.rptr-field {
    margin-bottom: 25px;
}

.rptr-field .card-header {
    cursor: pointer;
}

.rptr-field__add,
.rptr-field__delete {
    position: absolute;
}

.rptr-field__delete {
    top: 7px;
    right: 0;
}

.rptr-field__add {
    float: right;
    position: static;
    margin-top: 15px;
}

@media (min-width: 768px) {
    .sidebar.toggled .nav-item.has-dropdown .toggle-collapse {
        position: absolute;
        top: 15px;
        right: 0;
    }
}

@media (max-width: 767px) {
    .nav-item.has-dropdown .toggle-collapse {
        top: 15px;
        position: absolute;
        right: 0;
    }
}