
.bg-login-image {
    background-image: url(https://img4.goodfon.ru/original/1280x960/1/3c/winter-on-the-wye-reka-derevo-olkha.jpg?d=1) !important;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.select2 {
    width: 100% !important;
}

input::placeholder, select::placeholder, textarea::placeholder {
    color: #ddd !important;
}

.delete-icon {
    font-size: 28px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-left: 8px;
    cursor: pointer;
}

.circle-icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ddd;
    cursor: pointer;
}

.circle-icon:hover {
    background: #ddd;
}

.nav-item.has-dropdown .toggle-collapse {
    padding: 15px;
    color: #fff;
    cursor: pointer;
    position: relative;
    display: inline-block;
    top: 8px;
}

.nav-item.has-dropdown .toggle-collapse.collapsed {
    opacity: .3;
}

.nav-item.has-dropdown .toggle-collapse,
.nav-item.has-dropdown .toggle-collapse.collapsed:hover {
    opacity: 1;
}

.nav-item.has-dropdown .toggle-collapse.collapsed::after {
    content: '\f105';
}

.nav-item.has-dropdown .toggle-collapse:before {
    content: '';
    display: block;
    background: #fff;
    z-index: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    margin-top: -10px;
    margin-left: -10px;
}

.nav-item.has-dropdown .toggle-collapse:after {
    width: 1rem;
    text-align: center;
    vertical-align: 0;
    border: 0;
    z-index: 1;
    color: #555;
    font-weight: 900;
    position: absolute;
    content: '\f107';
    font-family: 'Font Awesome 5 Free';
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
}

.nav-item.has-dropdown > .nav-link {
    display: inline-block !important;
    width: calc(100% - 46px) !important;
}

.rptr-field {
    margin-bottom: 25px;
}

.rptr-field .card-header {
    cursor: pointer;
}

.rptr-field__add,
.rptr-field__delete {
    position: absolute;
}

.rptr-field__delete {
    top: 7px;
    right: 0;
}

.rptr-field__add {
    float: right;
    position: static;
    margin-top: 15px;
}

.card-body .rptr-field:first-child .rptr-field__delete {
    display: none;
}

@media (min-width: 768px) {
    .sidebar.toggled .nav-item.has-dropdown .toggle-collapse {
        position: absolute;
        top: 15px;
        right: 0;
    }
}

@media (max-width: 767px) {
    .nav-item.has-dropdown .toggle-collapse {
        top: 15px;
        position: absolute;
        right: 0;
    }
}