
.page-builder-content-item {
    min-height: 250px;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: relative;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-bottom: 25px;
    -webkit-background-size: contain;
    background-size: contain;
    cursor: pointer;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;

    background-color: #fff;
    opacity: 1;
}

.page-builder-content-item__delete {
    position: absolute;
    right: 0;
    top: 0;
}

.page-builder-content-item__actions {
    position: absolute;
    top: 5px;
    left: 5px;
}

.page-builder-content-item__actions > div {
    margin-bottom: 7px;
}

#page-builder-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, .8);
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

#page-builder-modal .close-modal {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 9999;
}

#page-builder-modal .content {
    width: 100%;
    height: calc(100% - 80px);
    background: #ddd;
    padding: 30px;
    overflow-y: scroll;
    border-radius: 4px
}

#page-builder-modal .btn-container {
    width: 100%;
    height: 80px;
    background: #ddd;
    padding: 0 15px;
}

#page-builder-modal.visible {
    visibility: visible;
    opacity: 1;
}